body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: 0;
    background-color:rgb(44, 44, 61);
  }
  